body {
    padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#new-listing{
  width: 80%;
  margin: auto;
}
label{
  margin: 15px 10px;
}
.reduce-btn{
  width: 40%;
  margin: auto;
}
.listing{
  border: 1px solid black;
  border-radius: 15px;
  height: 300px;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 1px -1px 2px black;
}
.listing img{
  position: relative;
  display: inline-block;
  left: 10px;
  top: 10px;
  width: 30%;
  max-height: 280px;
  object-fit: contain;
}
.listing-description{
  display: inline-block;
  margin-top: 10px;
  margin-left: 30px;
  width: 50%;
}

#listing-info{
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 10px;
}
#listing-info p{
  display: block;
}


#comment-form{
  width: 70%;
  margin: auto;
}
#comment-form label{
  padding: 5px 10px;
  display: block;
}
#comment-form input{
  display: block;
}
#comment-section h2{
  text-decoration: underline;
  margin: auto;
  margin-top: 10px;
  width: 50%;
}
.comment{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: auto;
  margin-top: 10px;
  width: 50%;
}

#bidform input[type=number]{
  width: 90px;
}