body {
    padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#new-listing{
  width: 80%;
  margin: auto;
}
label{
  margin: 15px 10px;
}
.reduce-btn{
  width: 40%;
  margin: auto;
}
.listing{
  border: 1px solid black;
  border-radius: 15px;
  height: 300px;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 1px -1px 2px black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  justify-content: center;
  align-content: center;
}
.listing-image{
  margin: auto;
}

#listing-info{
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 10px;
}
#listing-info p{
  display: block;
}


#comment-form{
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
#comment-form label{
  padding: 5px 10px;
  display: block;
  margin: auto;
  font-weight: bold;
  text-align: center;
}
#comment-form input, #comment-form textarea{
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
#comment-form textarea{
  width: 90%;
}
#comment-section h2{
  text-decoration: underline;
  margin: auto;
  margin-top: 10px;
  width: 50%;
}
.comment{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: auto;
  margin-top: 10px;
  width: 50%;
}

#bidform input[type=number]{
  width: 100px;
}

#inactive-listing{
  background-color: rgba(0, 0, 0, .15);
  border-radius: 5px;
  padding: 5px;
}