%search-field{
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
%button{
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 20%;
    margin-top: 10px;
}
.search-bar{
    @extend %search-field;
    display: block;
}
.adv-search-bar{
    @extend %search-field;
    display: block;
}
.search-button{
    @extend %button;
}
.search-button-adv{
    display: inline-block;
    width: 40%;
    margin-left: 7%;
}
.search-button-group{
    margin: auto;
    width: 50%;
}
.adv-search-item{
    display: block;
    margin: 5px;
}
.adv-search-button{
    @extend %button;
    background-color: rgb(52, 52, 231);
    color: white;
}
li{
    display: inline;
    padding-right: 10px;
}
ul {
    float: right;
}
form {
    clear: right;
}