{% extends "network/layout.html" %}

{% block body %}
    {% if request.user.is_authenticated %}
    <div id="post-area">
        <button id="closePost"></button>
        <h2>Write Post</h2>
        <form action="{% url 'new_post' %}" method="POST">
            {% csrf_token %}
            <textarea name="post" id="post" cols="90" rows="5" placeholder="What do you want to say?"></textarea>
            <input type="submit" value="Post">
        </form>
    </div>
    {% endif %}

    <div id="profile-info">
        <h2>{{ user.username }}'s Profile Page</h2>
        {% if request.user.is_authenticated and request.user != user %}
            {% if follow_status %}
            <button id="followStatusBtn" class="btn btn-danger" data-followStatus="{{ follow_status }}" data-userid="{{ user.id }}">Unfollow</button>
            {% else %}
            <button id="followStatusBtn" class="btn btn-primary" data-followStatus="{{ follow_status }}" data-userid="{{ user.id }}">Follow</button>
            {% endif %}
        {% elif not request.user.is_authenticated %}
            <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to follow this user.</p>
        {% endif %}
        <p>Following: {{ follow.following.all | length }}</p>
        <p>Followers: <span id="followersCount">{{ follow.followers.all | length }}</span></p>
    </div>

    <div id="all-posts">
        {% for post in posts %}
            <div class="post">
                {% if request.user == post.user %}
                <button class="btn btn-secondary editBtn">Edit Post</button>
                {% endif %}
                <p>{{ post.user }} said:</p>
                <p class="post-text">{{ post.post }}</p>
                <p>{{ posts.has_previous }}</p>
                <p>{{ post.time }}</p>
                <p>Likes: {{ post.likes | length }}</p>
                <p>Dislikes: {{ post.dislikes | length }}</p>
                <!-- not functioning -->
                <button id="likeBtn" class="btn btn-outline-primary">Like</button>
                <button id="dislikeBtn" class="btn btn-outline-danger">Dislike</button>
            </div>
        {% empty %}
            <div>Nothing posted yet.</div>
        {% endfor %}
    </div>

    {% if posts.has_previous or posts.has_next %}
    <nav id="page-navigation">
        <ul class="pagination">
            {% if posts.has_previous %}
                {% if posts.previous_page_number == 1 %}
                    <li class="page-item"><a class="page-link" href="{% url 'profile' user.id %}">Previous</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'profile' user.id posts.previous_page_number %}">Previous</a></li>
                {% endif %}
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% if posts.number == 1 %}
                <li class="page-item disabled"><a class="page-link" href="{% url 'profile' user.id %}">{{ posts.number }}</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="{% url 'profile' user.id posts.number %}">{{ posts.number }}</a></li>
            {% endif %}
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'profile' user.id posts.next_page_number %}">{{ posts.next_page_number}}</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'profile' user.id posts.next_page_number %}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
        </ul>
      </nav>
      {% endif %}
{% endblock %}