{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <div class="listing">
            <a href="{% url 'listing_entry' listing.id %}"><img src="{{ listing.image_URL }}" alt="Listing image"></a>
            <div class="listing-description">
                <h2><a href="{% url 'listing_entry' listing.id %}">{{ listing.title }}</a></h2>
                <p>{{ listing.description }}</p>
                <div>Current Price: {{ listing.price }}</div>
                <p>Created by: {{ listing.user }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}