{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing, bid in listings_bids.items %}
        <div class="listing">
            <div class="listing-image">
                <a href="{% url 'listing_entry' listing.id %}"><img src="{{ listing.image_URL }}" alt="Listing image"></a>
            </div>
            <div class="listing-description">
                <h2><a href="{% url 'listing_entry' listing.id %}">{{ listing.title }}</a></h2>
                <p>{{ listing.description }}</p>
                {% if bid %}
                    <div>Current Bid: {{ bid.bid }}</div>
                    <div>By: {{ bid.user }}</div>
                {% else %}
                    <div>Current Price: {{ listing.price }} {{ k }}</div>
                {% endif %}
                <p>Created by: {{ listing.user }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}